[Unit]
Description=Tvault contego
[Service]
User={{TVAULT_CONTEGO_EXT_USER}}
Group={{TVAULT_CONTEGO_EXT_USER}}
LimitNOFILE=65536
Type=simple
ExecStart={{python_path}} {{tvault_contego_bin_path.stdout}} {{CONFIG_FILES}}
TimeoutStopSec=20
KillMode=process
Restart=on-failure
CPUShares=2
[Install]
WantedBy=multi-user.target
