[Unit]
Description=Tvault contego
[Service]
User={{TVAULT_CONTEGO_EXT_USER}}
Group={{TVAULT_CONTEGO_EXT_USER}}
Type=simple
ExecStart={{TVAULT_CONTEGO_EXT_PYTHON}} {{TVAULT_CONTEGO_EXT_BIN}} {{CONFIG_FILES}}
TimeoutStopSec=20
KillMode=process
Restart=on-failure
CPUShares=2
[Install]
WantedBy=multi-user.target
