[Unit]
Description=Tvault Object Store
After=tvault-contego.service
[Service]
User={{TVAULT_CONTEGO_EXT_USER}}
Group={{TVAULT_CONTEGO_EXT_USER}}
Type=simple
ExecStart={{PYTHON_EXEC}} {{s3_fuse_file}} --config-file={{TVAULT_CONTEGO_CONF}}
TimeoutStopSec=20
KillMode=process
Restart=on-failure
[Install]
WantedBy=multi-user.target
