#!/bin/bash 
set -e
cd {{TVAULT_CONTEGO_VIRTENV}}
source .virtenv/bin/activate
pip install http://{{IP_ADDRESS}}:{{PORT_NO}}/packages/tvault-contego-{{TVAULT_CONTEGO_VERSION.stdout}}.tar.gz
pip list | grep tvault-contego | cut -d'(' -f2 | cut -d')' -f1
rm -rf tvault-contego-virtenv.tar.gz
