{% extends parent_template %}


{% block horizon_header %}
RUN subscription-manager register --user=<user-name> \
--password=<password> && subscription-manager attach --pool <pool-id>

{% endblock %}


# Horizon
{% set horizon_packages_append = ['tvault-horizon-plugin'] %}
