[Unit]
Description=Datamover API service

[Service]
User = root
Group = root
Type = Simple
ExecStart=/usr/bin/python /usr/bin/dmapi-api
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
