{
  "command": "/opt/triliovault/start_triliovault_datamover.sh",
  "config_files": [
    {
      "dest": "/",
      "merge": true,
      "preserve_properties": true,
      "source": "/var/lib/kolla/config_files/nova_libvirt/*"
    },
    {
      "dest": "/",
      "merge": true,
      "preserve_properties": true,
      "source": "/var/lib/kolla/config_files/triliovaultdm/*"
    },
    {
      "dest": "/etc/iscsi/",
      "merge": true,
      "preserve_properties": true,
      "source": "/var/lib/kolla/config_files/src-iscsid/*"
    }
  ],
  "permissions": [
    {
      "owner": "nova:nova",
      "path": "/var/log/triliovault",
      "recurse": true
    },
    {
      "owner": "nova:nova",
      "path": "/var/lib/nova/triliovault-mounts",
      "recurse": false
    },
    {
      "owner": "nova:nova",
      "path": "/etc/ceph/ceph.client.cinder.keyring",
      "perm": "0600"
    }
  ]
}