{
    "command": "/opt/tvault/start_datamover_{{ triliovault_backup_target }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/triliovault-datamover.conf",
            "dest": "/etc/tvault-contego/tvault-contego.conf",
            "owner": "cinder",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/triliovault-datamover",
            "owner": "nova:nova",
            "recurse": true
        }
    ]
}
