{
	"command": "/usr/bin/python3 /usr/bin/workloadmgr-workloads",
	"config_files": [{
			"source": "{{ container_config_directory }}/triliovault-wlm-workloads.conf",
			"dest": "/etc/triliovault-wlm/triliovault-wlm.conf",
			"owner": "nova",
			"perm": "0755"
		}
	],
	"permissions": [{
		"path": "/var/log/kolla/triliovault",
		"owner": "nova:nova",
		"recurse": true
	}]
}
