[DEFAULT]
dmapi_workers = 2
transport_url = {{ lookup('ini', 'transport_url section=DEFAULT file={{ node_config_directory }}/nova-api/nova.conf') }}
dmapi_link_prefix = http://{{ api_interface_address }}:{{ triliovault_datamover_api_port }}
dmapi_enabled_ssl_apis =
dmapi_listen_port = {{ triliovault_datamover_api_port }}
dmapi_enabled_apis = dmapi
bindir = /usr/bin
instance_name_template = instance-%08x
dmapi_listen = {{ api_interface_address }}
my_ip = {{ api_interface_address }}
rootwrap_config = /etc/dmapi/rootwrap.conf
debug = False
log_file = /var/log/kolla/triliovault-datamover-api/dmapi.log
log_dir = /var/log/kolla/triliovault-datamover-api

[wsgi]
ssl_cert_file = 
ssl_key_file =
api_paste_config = /etc/dmapi/api-paste.ini

[database]
connection = {{ lookup('ini', 'connection section=database file={{ node_config_directory }}/nova-api/nova.conf') }}

[api_database]
connection = {{ lookup('ini', 'connection section=api_database file={{ node_config_directory }}/nova-api/nova.conf') }}

[keystone_authtoken]
memcached_servers = {{ lookup('ini', 'memcached_servers section=keystone_authtoken file={{ node_config_directory }}/nova-api/nova.conf') }}
signing_dir = /var/cache/dmapi
cafile =
project_domain_name = {{ default_project_domain_name }}
project_name = {{ lookup('ini', 'project_name section=keystone_authtoken file={{ node_config_directory }}/nova-api/nova.conf') }} 
user_domain_name = {{ default_user_domain_name }}
password = {{ lookup('ini', 'password section=keystone_authtoken file={{ node_config_directory }}/nova-api/nova.conf') }}
username = nova
auth_url = {{ lookup('ini', 'auth_url section=keystone_authtoken file={{ node_config_directory }}/nova-api/nova.conf') }}
auth_type = password
auth_uri = {{ lookup('ini', 'www_authenticate_uri section=keystone_authtoken file={{ node_config_directory }}/nova-api/nova.conf') }}
insecure = True

[oslo_messaging_notifications]
transport_url = {{ lookup('ini', 'transport_url section=oslo_messaging_notifications file={{ node_config_directory }}/nova-api/nova.conf') }}
driver = {{ lookup('ini', 'driver section=oslo_messaging_notifications file={{ node_config_directory }}/nova-api/nova.conf') }}

[oslo_middleware]
enable_proxy_headers_parsing = {{ lookup('ini', 'enable_proxy_headers_parsing section=oslo_middleware file={{ node_config_directory }}/nova-api/nova.conf') }}