{
	"command": "/opt/triliovault/start-triliovault-wlm-cron.sh",
	"config_files": [{
			"source": "{{ container_config_directory }}/triliovault-wlm-cron.conf",
			"dest": "/etc/triliovault-wlm/triliovault-wlm.conf",
			"owner": "nova",
			"perm": "0755"
		},
		{
			"source": "{{ container_config_directory }}/triliovault-wlm-logging.conf",
			"dest": "/etc/triliovault-wlm/wlm_logging.conf",
			"owner": "nova",
			"perm": "0755"
		},
		{
                        "source": "{{ container_config_directory }}/api-paste.ini",
                        "dest": "/etc/triliovault-wlm/api-paste.ini",
                        "owner": "nova",
                        "perm": "0755"
        },
		{
			"source": "{{ container_config_directory }}/start-triliovault-wlm-cron.sh",
			"dest": "/opt/triliovault/start-triliovault-wlm-cron.sh",
			"owner": "nova",
			"perm": "0755"
		}
	],
	"permissions": [{
		"path": "/var/log/triliovault",
		"owner": "nova:nova"
	}]
}
