[DEFAULT]
log_config_append = /etc/triliovault-wlm/wlm_logging.conf


{% if glance_enable_tls_backend | bool %}
my_ip = 127.0.0.1
{% else %}
my_ip = {{ api_interface_address }}
{% endif %}

{% if glance_enable_tls_backend | bool %}
osapi_workloads_listen = 127.0.0.1
{% else %}
osapi_workloads_listen = {{ api_interface_address }}
{% endif %}

{% if glance_enable_tls_backend | bool %}
triliovault_hostnames = 127.0.0.1
{% else %}
triliovault_hostnames = {{ api_interface_address }}
{% endif %}

config_status = configured

state_path = /opt/stack/data/triliovault-wlm
rootwrap_config = /etc/triliovault-wlm/rootwrap.conf

wlm_rootwrap = /usr/bin/workloadmgr-rootwrap
api_paste_config = /etc/triliovault-wlm/api-paste.ini

sql_connection = mysql+pymysql://{{ triliovault_wlm_db_details[0].triliovault_wlm_database_user }}:{{ triliovault_wlm_api_db_password }}@{{ triliovault_wlm_db_details[0].triliovault_wlm_database_address  }}/{{  triliovault_wlm_db_details[0].triliovault_wlm_database_user }}

osapi_workloads_listen_port = {{ triliovault_wlm_api_listen_port }}

##OS Details
cloud_admin_user_id = {{ Cloud_Admin_UserID }}
cloud_admin_project_id = {{ Cloud_Admin_ProjectID }}

cloud_admin_domain = {{ Cloud_Admin_DomainID }}
cloud_admin_role = {{ cloud_admin_role }}

trustee_role = creator
domain_name = {{ Cloud_Admin_DomainID }}

triliovault_user_domain_id = default 
cloud_unique_id = {{ Triliovault_Wlm_User_ID }} 

region_name_for_services = {{ openstack_region_name }}
global_job_scheduler_override = False

transport_url = {{ rpc_transport_url }}

api_workers = 4
workloads_workers = 4

glance_production_host = {{ kolla_internal_fqdn }}
glance_production_api_servers = https://{{ kolla_internal_fqdn }}:9292
glance_api_version = 2

## Keystone URL for internal authentication
keystone_endpoint_url = https://{{ kolla_internal_fqdn }}:5000
keystone_auth_version = 3

cinder_production_endpoint_template = https://{{ kolla_internal_fqdn }}:8776/v2/%(tenant_id)s

nova_admin_auth_url = https://{{ kolla_internal_fqdn }}:5000
nova_production_endpoint_template = "https://{{ kolla_internal_fqdn }} :8774/v2.1/%(project_id)s"

neutron_admin_auth_url = https://{{ kolla_internal_fqdn }}:5000
neutron_production_url = https://{{ kolla_internal_fqdn }}:9696

# The path to store the taskflow data
taskflow_path = /var/lib/workloadmgr/taskflow
taskflow_max_cache_size = 1024
taskflow_max_age = 10

rabbit_virtual_host = {{ triliovault_wlm_rpc_vhost }}
compute_driver = libvirt.LibvirtDriver
vault_storage_das_device = none

{% if triliovault_backup_target == "nfs" %}

vault_storage_type = nfs

{% if multi_ip_nfs_enabled == "yes" %}
vault_storage_nfs_export = "{{ triliovault_nfs_map[inventory_hostname] }}"
{% else %}
vault_storage_nfs_export = {{ triliovault_nfs_shares }}
{% endif %}

vault_storage_nfs_options = {{ triliovault_nfs_options }}

{% elif triliovault_backup_target == "amazon_s3" %}

vault_storage_type = s3
vault_storage_nfs_export = TrilioVault
vault_s3_auth_version = DEFAULT
vault_s3_access_key_id = {{ triliovault_s3_access_key }}
vault_s3_secret_access_key = {{ triliovault_s3_secret_key }}
vault_s3_region_name = {{ triliovault_s3_region_name }}
vault_s3_bucket = {{ triliovault_s3_bucket_name }}
vault_s3_signature_version = {{ triliovault_s3_version }}
{# vault_s3_auth_version = {{ triliovault_s3_auth_version }} #}

{% elif triliovault_backup_target == "other_s3_compatible" %}

vault_storage_type = s3
vault_storage_nfs_export = TrilioVault
vault_s3_auth_version = DEFAULT
vault_s3_access_key_id = {{ triliovault_s3_access_key }}
vault_s3_secret_access_key = {{ triliovault_s3_secret_key }}
vault_s3_region_name = {{ triliovault_s3_region_name }}
vault_s3_bucket = {{ triliovault_s3_bucket_name }}
vault_s3_endpoint_url = {{ triliovault_s3_endpoint_url }}
vault_s3_signature_version = {{ triliovault_s3_version }}
{# vault_s3_auth_version = {{ triliovault_s3_auth_version }} #}
vault_s3_ssl = {{ triliovault_s3_ssl_enabled }}
vault_s3_ssl_cert = /etc/triliovault-wlm/triliovault-s3.pem

{% endif %}

vault_enable_threadpool = True
vault_s3_support_empty_dir = False

vault_data_directory_old = /var/triliovault
vault_data_directory = /var/trilio/triliovault-mounts

max_wait_for_upload = 48
neutron_api_insecure = False

[global_job_scheduler]
misfire_grace_time = 600

[s3fuse_sys_admin]
helper_command = sudo /usr/bin/workloadmgr-rootwrap /etc/triliovault-wlm/rootwrap.conf privsep-helper

[keystone_authtoken]
admin_tenant_name = service
project_name = service

signing_dir = /var/cache/workloadmgr
auth_url = https://{{ kolla_internal_fqdn }}:5000/v3

www_authenticate_uri = https://{{ kolla_internal_fqdn }}:5000/v3
auth_type = password

username = {{ triliovault_wlm_keystone_user }}
password = {{ triliovault_wlm_api_ks_password }}

admin_user = {{ triliovault_wlm_keystone_user }} 
admin_password = {{ triliovault_wlm_api_ks_password }}

project_domain_id = default
user_domain_id = default

auth_plugin = password

{% if OS_CA_CERT_PATH != "" %}
cafile = /etc/triliovault-wlm/tls-ca-bundle.pem
{% else %}
cafile = 
{% endif %}

insecure = False
service_token_roles_required = True

[clients]
client_retry_limit = 3
endpoint_type = internal

{% if OS_CA_CERT_PATH != "" %}
cafile = /etc/triliovault-wlm/tls-ca-bundle.pem
{% else %}
cafile = 
{% endif %}

insecure = False

[alembic]
script_location = /usr/share/workloadmgr/migrate_repo
version_locations = /usr/share/workloadmgr/migrate_repo/versions

sqlalchemy.url= mysql+pymysql://{{ triliovault_wlm_db_details[0].triliovault_wlm_database_user }}:{{ triliovault_wlm_api_db_password }}@{{ triliovault_wlm_db_details[0].triliovault_wlm_database_address }}/{{ triliovault_wlm_db_details[0].triliovault_wlm_database_name }}


[filesearch]
process_timeout = 300

[barbican]
encryption_support = True
