{    
    {% set triliovault_backup_target_type = 's3' if triliovault_backup_target in ['amazon_s3', 'other_s3_compatible'] else 'nfs' %}	

    "command": "/opt/triliovault/start-triliovault-datamover.sh",
    "config_files": [
		{
			"source": "{{ container_config_directory }}/start-triliovault-datamover.sh",
			"dest": "/opt/triliovault/start-triliovault-datamover.sh",
			"owner": "nova",
			"perm": "0755"
		},
        {
            "source": "{{ container_config_directory }}/nova.conf",
            "dest": "/etc/nova/nova.conf",
            "owner": "nova",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/triliovault-object-store.conf",
            "dest": "/etc/triliovault-object-store/triliovault-object-store.conf",
            "owner": "nova",
            "perm": "0600"
        },
		{
            "source": "{{ container_config_directory }}/triliovault-datamover.conf",
            "dest": "/etc/triliovault-datamover/triliovault-datamover.conf",
            "owner": "nova",
            "perm": "0755"
	},
        {
            "source": "{{ container_config_directory }}/fuse.conf",
            "dest": "/etc/fuse.conf",
            "owner": "nova",
            "perm": "0644"
        },
	{
            "source": "{{ container_config_directory }}/triliovault-datamover-logging.conf",
            "dest": "/etc/triliovault-datamover/datamover_logging.conf",
            "owner": "nova",
            "perm": "0755"
        }{% if triliovault_copy_ceph_s3_ssl_cert | bool %},
        {
            "source": "{{ container_config_directory }}/{{ triliovault_s3_ssl_cert_file_name }}",
            "dest": "/etc/triliovault-datamover/{{ triliovault_s3_ssl_cert_file_name }}",
            "owner": "nova",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/triliovault-datamover",
            "owner": "nova:nova",
            "recurse": true
        }
    ]
}
