[DEFAULT]
{% if triliovault_backup_target == "nfs" %}

vault_storage_type = nfs
vault_storage_nfs_export = {{ triliovault_nfs_shares }}
vault_storage_nfs_options = {{ triliovault_nfs_options }}

{% elif triliovault_backup_target == "amazon_s3" %}

vault_storage_type = s3
vault_storage_nfs_export = TrilioVault
vault_s3_auth_version = DEFAULT
vault_s3_access_key_id = {{ triliovault_s3_access_key }}
vault_s3_secret_access_key = {{ triliovault_s3_secret_key }}
vault_s3_region_name = {{ triliovault_s3_region_name }}
vault_s3_bucket = {{ triliovault_s3_bucket_name }}
vault_s3_signature_version = {{ triliovault_s3_version }}
vault_s3_auth_version = {{ triliovault_s3_auth_version }}
vault_s3_ssl_cert =

{% elif triliovault_backup_target == "other_s3_compatible" %}

vault_storage_type = s3
vault_storage_nfs_export = TrilioVault
vault_s3_auth_version = DEFAULT
vault_s3_access_key_id = {{ triliovault_s3_access_key }}
vault_s3_secret_access_key = {{ triliovault_s3_secret_key }}
vault_s3_region_name = {{ triliovault_s3_region_name }}
vault_s3_bucket = {{ triliovault_s3_bucket_name }}
vault_s3_endpoint_url = {{ triliovault_s3_endpoint_url }}
vault_s3_signature_version = {{ triliovault_s3_version }}
vault_s3_auth_version = {{ triliovault_s3_auth_version }}
vault_s3_ssl = {{ triliovault_s3_ssl_enabled }}
vault_s3_ssl_cert = /etc/tvault-contego/{{ triliovault_s3_ssl_cert_file_name }}

{% endif %}

vault_data_directory_old = /var/triliovault
vault_data_directory = {{ triliovault_parent_data_directory }}/triliovault-mounts
log_file = /var/log/kolla/triliovault-datamover/tvault-contego.log
debug = False
verbose = True
max_uploads_pending = 3
max_commit_pending = 3

dmapi_transport_url = {{ rpc_transport_url }}

[dmapi_database]
connection = mysql+pymysql://{{ triliovault_database_user }}:{{ triliovault_database_password }}@{{ triliovault_database_address }}/{{ triliovault_database_name }}

{% if cinder_backend_ceph == "yes" %}

[libvirt]
images_rbd_ceph_conf = /etc/ceph/ceph.conf
rbd_user = {{ ceph_cinder_user }}

[ceph]
keyring_ext = .{{ ceph_cinder_user }}.keyring

{% endif %}

[contego_sys_admin]
helper_command = sudo /usr/bin/privsep-helper

{% if triliovault_backup_target == "other_s3_compatible" or triliovault_backup_target == "amazon_s3" %}

[s3fuse_sys_admin]
helper_command = sudo /usr/bin/privsep-helper

{% endif %}

[conductor]
use_local = True

[oslo_messaging_rabbit]
ssl = false

[cinder]
http_retries = {{ cinder_http_retries }}
