{% set triliovault_datamover_api_cmd = '/var/lib/kolla/venv/bin/python /usr/bin/dmapi-api' %}
{
    "command": "{{ triliovault_datamover_api_cmd }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/triliovault-datamover-api.conf",
            "dest": "/etc/dmapi/dmapi.conf",
            "owner": "nova",
            "perm": "0600"
        }
    ],  
    "permissions": [
        {
            "path": "/var/log/kolla/triliovault-datamover-api",
            "owner": "nova:nova",
            "recurse": true
        }
    ]
}
