[client]
rabbitmq_url = rabbit://openstack:{{ om_rpc_password }}@{{ hostvars[groups[om_rpc_group][0]]['ansible_' + hostvars[groups[om_rpc_group][0]]['api_interface']]['ipv4']['address'] }}:{{ rabbitmq_port }}//

db_url = mysql+pymysql://{{ triliovault_db_details[1].database_user }}:{{ triliovault_wlm_database_password }}@{{ triliovault_db_details[1].database_address }}/{{ triliovault_db_details[1].database_name }}

node_id = {{ inventory_hostname }}

request_timeout = 60
log_level = INFO
log_file = /var/log/triliovault/trilio-dms-client.log
log_max_bytes = 26214400
log_backup_count = 5
db_pool_size = 20
db_max_overflow = 40
db_pool_recycle = 3600
