---
- name: Generate Rabbitmq Password
  set_fact: RABBITMQ_PASSWORD="{{ lookup('password', '/dev/null length=15 chars=ascii_letters') }}"
  run_once: true

- name: Generate dmapi service Password
  set_fact: DMAPI_SERVICE_PASSWORD="{{ lookup('password', '/dev/null length=15 chars=ascii_letters') }}"
  run_once: true

- name: Generate dmapi mysql Password
  set_fact: DMAPI_MYSQL_PASSWORD="{{ lookup('password', '/dev/null length=15 chars=ascii_letters') }}"
  run_once: true
