#!/bin/bash


/usr/bin/python3 /usr/bin/tvault-contego \
--config-file=/usr/share/nova/nova-dist.conf --config-file=/etc/nova/nova.conf \
--config-dir /etc/nova/nova.conf.d --config-file=/etc/triliovault-datamover/triliovault-datamover.conf
