#!/bin/bash
set -ex

## Start TrilioVault Datamover Service
/usr/bin/env python /usr/bin/tvault-contego \
--config-file=/etc/nova/nova.conf \
--config-file=/etc/triliovault-datamover/triliovault-datamover.conf
