[DEFAULT]
vault_data_directory_old = /var/triliovault
vault_data_directory = {{ triliovault_parent_data_directory }}/triliovault-mounts

log_config_append = /etc/triliovault-datamover/datamover_logging.conf

debug = False
verbose = True
max_uploads_pending = 3
max_commit_pending = 3

dmapi_transport_url = {{ rpc_transport_url }}

[dmapi_database]
connection = mysql+pymysql://{{ triliovault_db_details[0].database_user }}:{{ triliovault_datamover_database_password }}@{{ triliovault_db_details[0].database_address }}/{{ triliovault_db_details[0].database_name }}

{% if cinder_backend_ceph | bool %}

[libvirt]
images_rbd_ceph_conf = /etc/ceph/ceph.conf
rbd_user = {{ ceph_cinder_user }}

[ceph]
keyring_ext = .keyring

{% endif %}

[contego_sys_admin]
helper_command = sudo /usr/bin/privsep-helper

[s3fuse_sys_admin]
helper_command = sudo /usr/bin/privsep-helper

[conductor]
use_local = True

[oslo_messaging_rabbit]
ssl = false

[cinder]
http_retries = {{ cinder_http_retries }}

[barbican]
barbican_endpoint_type = internal
verify_ssl = true
verify_ssl_path = {{ openstack_cacert }}

