[DEFAULT]
dmapi_workers = {{ dmapi_workers }}
transport_url = {{ rpc_transport_url }}
dmapi_link_prefix = http://{{ api_interface_address }}:{{ triliovault_datamover_api_port }}
dmapi_enabled_ssl_apis =
dmapi_listen_port = {{ triliovault_datamover_api_port }}
dmapi_enabled_apis = dmapi
bindir = /usr/bin
instance_name_template = instance-%08x
dmapi_listen = {{ api_interface_address }}
my_ip = {{ api_interface_address }}
rootwrap_config = /etc/dmapi/rootwrap.conf
debug = False
log_config_append = /etc/triliovault-datamover/datamover_api_logging.conf


[wsgi]
ssl_cert_file = 
ssl_key_file =
api_paste_config = /etc/triliovault-datamover/api-paste.ini

[database]
connection = mysql+pymysql://{{ triliovault_db_details[0].database_user }}:{{ triliovault_datamover_database_password }}@{{ triliovault_db_details[0].database_address }}/{{ triliovault_db_details[0].database_name }}

[keystone_authtoken]
www_authenticate_uri = {{ keystone_internal_url }}
auth_url = {{ keystone_internal_url }}
auth_type = password
project_name = service
username = {{ triliovault_datamover_keystone_user }}
password = {{ triliovault_datamover_keystone_password }}
cafile = {{ openstack_cacert }}
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcache_secret_key }}
memcached_servers = {% for host in groups['memcached'] %}{{ 'api' | kolla_address(host) | put_address_in_context('memcache') }}:{{ memcached_port }}{% if not loop.last %},{% endif %}{% endfor %}

signing_dir = /var/cache/dmapi
project_domain_name = {{ default_project_domain_name }}
user_domain_name = {{ default_user_domain_name }}
insecure = True

[oslo_messaging_notifications]
transport_url = {{ notify_transport_url }}
{% if triliovault_enabled_notification_topics %}
driver = messagingv2
topics = {{ triliovault_enabled_notification_topics | map(attribute='name') | join(',') }}
{% else %}
driver = noop
{% endif %}

[oslo_messaging_rabbit]
heartbeat_in_pthread = False
{% if om_enable_rabbitmq_tls | bool %}
ssl = true
ssl_ca_file = {{ om_rabbitmq_cacert }}
{% endif %}
{% if om_enable_rabbitmq_high_availability | bool %}
amqp_durable_queues = true
{% endif %}

[oslo_middleware]
enable_proxy_headers_parsing = True
