[Unit]
Description=Tvault Object Store
After=tvault-contego.service
[Service]
User=nova
Group=nova
Type=simple
ExecStart=/home/tvault/.virtenv/bin/python /usr/lib/python2.7/site-packages/contego/nova/extension/driver/s3vaultfuse.py --config-file=/etc/tvault-contego/tvault-contego.conf
TimeoutStopSec=20
KillMode=process
Restart=on-failure
[Install]
WantedBy=multi-user.target
