[Unit]
Description=Tvault Object Store
After=tvault-contego.service
[Service]
User=nova
Group=nova
Type=simple
ExecStart=/usr/bin/python /usr/bin/s3vaultfuse.py --config-file=/etc/tvault-contego/tvault-contego.conf
TimeoutStopSec=20
KillMode=process
Restart=on-failure
[Install]
WantedBy=multi-user.target