[Unit]
Description=Tvault contego
After=openstack-nova-compute.service
[Service]
User={{TVAULT_CONTEGO_EXT_USER}}
Group={{TVAULT_CONTEGO_EXT_USER}}
Type=simple
ExecStart={{PYTHON_EXEC}} {{dmapi_bin.stdout}}
TimeoutStopSec=20
KillMode=process
Restart=on-failure
[Install]
WantedBy=multi-user.target
