[Unit]
Description=TrilioData DataMover API service
[Service]
User={{DMAPI_USR}}
Group={{DMAPI_GRP}}
Type=simple
ExecStart={{PYTHON_EXEC}} {{dmapi_bin.stdout}}
KillMode=control-group
Restart=on-failure
WorkingDirectory=/var/run

[Install]
WantedBy=multi-user.target
