---
- name: Removing Contego from virtual environment
  file: path=/home/tvault/.virtenv/lib/python2.7/site-packages/contego state=absent

- import_tasks: get_venv.yml

- name: Remove tvault-contego-virtenv.tar.gz
  file: path=tvault-contego-virtenv.tar.gz state=absent

- name: change ownership of virtenv dir(/home/tvault)
  file: path={{TVAULT_CONTEGO_VIRTENV}} state=directory mode=765 owner="{{TVAULT_CONTEGO_EXT_USER}}" group="{{TVAULT_CONTEGO_EXT_GROUP}}"

- name: ensure that /var/log/tvault-contego file is present
  file: path="/var/log/tvault-contego" state=directory mode=750 owner="{{TVAULT_CONTEGO_EXT_USER}}" group="{{TVAULT_CONTEGO_EXT_GROUP}}"

- name: get tvault contego binary path
  shell: "{{virtual_env}} && which tvault-contego"
  register: tvault_contego_bin_path

- debug: msg="tvault_contego_bin_path={{tvault_contego_bin_path}}" verbosity="{{ verbosity_level }}"

- name: get privsep-helper binary path
  shell: "{{virtual_env}} && which privsep-helper"
  register: privsep_bin_path

- debug: msg="privsep_bin_path={{privsep_bin_path.stdout}}" verbosity="{{ verbosity_level }}"

- name: copy nova_compte_extension.sh file to tmp dir
  template:
    src: nova_compte_extension.sh
    dest: /tmp/nova_compte_extension.sh

- name: Assign Execute permission /tmp/nova_compte_extension.sh
  shell: chmod +x /tmp/nova_compte_extension.sh

- name: Run the script /tmp/nova_compte_extension.sh
  command: sh /tmp/nova_compte_extension.sh

- name: Remove /tmp/nova_compte_extension.sh
  file: path="/tmp/nova_compte_extension.sh" state=absent
