[DEFAULT]

vault_storage_type = s3
vault_storage_nfs_export = TrilioVault
vault_s3_access_key_id = {{VAULT_S3_ACCESS_KEY}}
vault_s3_secret_access_key = {{VAULT_S3_SECRET_ACCESS_KEY}}
vault_s3_region_name = {{VAULT_S3_REGION_NAME}}
vault_s3_bucket = {{VAULT_S3_BUCKET}}


{% if s3_type == "Other_S3_Compatible" %}
vault_s3_ssl = {{VAULT_S3_SECURE}}

{% if VAULT_S3_ENDPOINT_URL != "" %}
vault_s3_endpoint_url = {{ VAULT_S3_ENDPOINT_URL }}
{%else%}
vault_s3_endpoint_url =
{%endif%}

{% if VAULT_S3_SIGNATURE_VERSION != "" %}
vault_s3_signature_version = {{ VAULT_S3_SIGNATURE_VERSION }}
{%else%}
vault_s3_signature_version =
{%endif%}

{% if VAULT_S3_AUTH_VERSION != "" %}
vault_s3_auth_version = {{ VAULT_S3_AUTH_VERSION }}
{%else%}
vault_s3_auth_version =
{%endif%}

{% if VAULT_S3_SSL_CERT != "" %}
vault_s3_ssl_cert = {{WLM_S3_SSL_CERT_PATH}}
{% else %}
vault_s3_ssl_cert =
{% endif %}

{% endif %}

vault_data_directory_old = /var/triliovault
vault_data_directory = {{ triliovault_mnt_dir }}

log_file = {{ OBJECT_STORE_LOG_FILE }}
debug = False
log_config = {{ OBJECT_STORE_LOG_CFG }}

verbose = True
vault_s3_max_pool_connections = 500

[s3fuse_sys_admin]
helper_command = sudo {{ workloadmgr_rootwrap }}  {{ rootwrap_config }} privsep-helper
